.order-summary {
  min-width: 360px;
}

.order-summary__wrapper {
  border: 1px solid var(--border-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  width: 100%;
  /*height: 428px;*/
  gap: 20px;
}

.order-summary__title {
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  color: var(--titles-color);
}

.order-summary__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.order-summary__item {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  width: 100%;
}

.order-summary__item:nth-last-child(2) {
  border-bottom: 2px solid var(--titles-color);
}

.order-summary__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.order-summary__label {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: var(--body-text-color);
}

.order-summary__item--total .order-summary__label {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  color: var(--titles-color);
}

.order-summary__value {
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: var(--body-text-color);
}

.order-summary__value--text {
  font-family: var(--second-family), sans-serif;
  font-size: 20px;
  line-height: 1.7;
}

.order-summary__item--total .order-summary__value {
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  text-align: right;
  color: var(--titles-color);
}

.order-summary__meta {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--body-text-color);
}

.order-summary__checkout {
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background-color: var(--titles-color);
  border: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: relative;
}

.order-summary__checkout::after {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  right: 2px;
  top: 0;
  background-color: var(--white);
}

.order-summary__checkout:hover {
  background-color: var(--red);
}
