.filter__search {
  border: none;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  height: 40px;
  padding-bottom: 10px;
}

.filter__search:hover,
.filter__search:focus {
  background-color: var(--border-color);
}

.filter__search-icon {
  position: absolute;
  right: 0;
}

.filter__search:hover + .filter__search-icon path {
  fill: var(--red);
}

.filter__search:focus + .filter__search-icon path {
  display: none;
}
