/* Обёртка */
.price-slider {
  width: 100%;
  margin: 57px 0 0 0;
}

/* Трек: контейнер, в котором рисуется фон */
.price-slider__track {
  height: 2px;
  display: flex;
  position: relative;
  margin: 0;
}

/* Рендерится как flex-элемент <div> с inline-style из props.style */
/* background мы задаём через JS (getTrackBackground) */

/* Ручка (thumb) */
.price-slider__thumb {
  width: 12px;
  height: 12px;
  /*border-radius: 50%;*/
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  position: absolute; /* позиционируется JS-ом */
}

/* Состояние «тянем» */
.price-slider__thumb:active {
  cursor: grabbing;
}

/* значение над ручкой */

.rc-tooltip-inner {
  text-align: center;
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: var(--body-text-color);
  background-color: transparent;
  box-shadow: none;
  min-height: 24px;
}
/* по умолчанию в стилях есть указатель между значение и ручкой*/
.rc-tooltip-arrow {
  display: none;
}
