.header__dropdowns-link:hover,
.header__dropdowns-link:focus {
    color: var(--red);
}

.header__dropdowns-link {
    font-family: var(--font-family), sans-serif;
    color: var(--red);
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: var(--white);
    border: none;
}

.header__dropdowns-link:hover {
    background-color: var(--red);
    color: var(--white);
}
