.content-header {
  display: flex;
  justify-content: space-around;
  max-width: 1920px;
  width: 100%;
  margin-top: 50px;
  background-image: url('../../assets/images/pattern.svg');
  background-repeat: no-repeat;
  background-position: 59px 30px;
}

.content-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1740px;
  width: 100%;
}

.content-header__wrapper-left {
  display: flex;
  max-width: 850px;
  width: 100%;
  justify-content: center;
  position: relative;
}

.content-header__wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}

/*styles*/

.content-header__wrapper-left::after {
  content: '';
  display: block;
  width: 110%;
  height: 2px;
  position: absolute;
  bottom: -25px;
  left: -200px;
  background-color: var(--titles-color);
}

.content-header__title {
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  color: var(--titles-color);
}

.content-header__image {
  width: 800px;
  height: 400px;
  background-color: var(--background-images-color);
}
